.header {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0;
  z-index: 10
}

.headerDark {
  background: rgba(26, 32, 44, 0.9);
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0;
  z-index: 10
}
